<div class="container" style="max-width: 1000px;">

  <h1 class="mb-5">Notas de Angular</h1>


  <!-- Clase 6 -->
  <h2>--> String &lbrace;&lbrace;<span>Interpolation</span>&rbrace;&rbrace; </h2>

  <p>Es la forma en que, con un par de llaves, podemos implementar código TS adentro del html (como su fuera un jsp)</p>

  <p>Repitiendo 3 veces un String:</p>
  <ul>
    <li>
      <p>{{"Hola Mundo! ".repeat(3)}}</p>
    </li>
  </ul>

  <p>Haciendo una suma en el código:</p>
  <ul>
    <li>
      <p>3 + 3 = {{3 + 3}}</p>
    </li>
  </ul>

  <p>El nombre y la edad son traidos de app.component.ts!</p>
  <ul>
    <li>
      <p>Hola, soy {{name}} y tengo {{age}} años</p>
    </li>
  </ul>

  <p>Una imagen cargada con String Interpolation:</p>
  <img src={{img}} alt="una imagen random" width="200" height="200" style="object-fit: cover;">

  <br><br>



  <!-- Clase 7 -->
  <h2>--> Property &lbrack;<span>Binding</span>&rbrack;</h2>
  <p>Es la forma en que podemos modificar atributos desde el controlador y mandarle esto a los atributos de
    html, por ejemplo, el tag de una imagen, la referencia de un link, el estado de un boton, etc.</p>

  <p>Boton desabilitado desde el controlador</p>
  <button [disabled]="btnDisabled" type="button" class="btn btn-dark mb-5">Boton</button>

  <p>El valor de este imput es cargado desde el controlador</p>
  <input type="text" [value]="personMatias.getName()" class="mb-5">

  <p>La barra de progreso está siendo cargada desde el controlador utilizando la variable edad<br>&lt;progress&gt; es un
    elemento nuevo de html (nativo).</p>
  <progress max="100" [value]="personMatias.getAge()" class="mb-4"></progress>

  <p>Imagen cargada desde el controlador con property binding</p>

  <!-- offset-x | offset-y | blur-radius | spread-radius | color -->
  <div class="card mb-4" style="width: 18rem; box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);">
    <img class="card-img-top" [src]="personMatias.getAvatar()" alt="avatar de mi objeto persona">
    <div class="card-body">
      <h5 class="card-title text-center">{{personMatias.getName()}}</h5>
      <p class="card-text text-center">Hola mi nombre es {{personMatias.getName()}} y tengo {{personMatias.getAge()}}
        años.</p>
    </div>
  </div>

  <p>{{personMatias.saludar("Fernandooo")}}</p>

  <p class="h5"><b>IMPORTANTE!!</b></p>
  <p style="max-width: 600px;">El uso de Property Binding es para configurar propiedades de elementos html (el estado
    del boton, el value) y String Interpolation para renderizar contenido como un parrafo, un h1, etc.</p>



  <!-- Clase 8 -->
  <h2>--> Event &lpar;<span>Binding</span>&rpar; 1</h2>

  <p>Es el momento de manejar eventos y hay una forma muy especial de hacerlo dentor de aplicaciones en Angular.</p>

  <p>Utilizando Event Binding estamos activando o desactivando el input</p>
  <button (click)="toggleButton()" type="button" class="btn btn-dark mb-2">Boton</button>
  <br>
  <input class="mb-4" type="text" [disabled]="inputDisabled" value="Hola {{personMatias.getName()}}!!">

  <p>Ahora usamos Event Binding para incrementar la edad de {{personMatias.getName()}} aprentando un botón!!</p>
  <button (click)="increaseAge()" type="button" class="btn btn-dark mb-2">Incrementar edad</button>
  <p>La edad de {{personMatias.getName()}} es: {{personMatias.getAge()}} años.</p>



  <!-- Clase 9 -->
  <h2>--> Event &lpar;<span>Binding</span>&rpar; 2</h2>

  <p>Otro evento que podemos tener es leer el scroll de un elemento.</p>
  <!-- Los eventos que son nativos del HTML o del DOM se envían con $event -->
  <div class="myBox" (scroll)="onScroll($event)">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusamus facilis minus reiciendis quis quam amet
    ab accusantium, architecto ullam voluptate et. Facere soluta ducimus dignissimos dolore quidem amet modi repellendus
    iure distinctio enim? Alias velit beatae laudantium aliquid nobis dolorem. Rerum illum tempore, optio sunt
    repellendus laudantium, minus, aperiam explicabo quaerat officiis neque. Ipsam, illum culpa neque magni nobis in
    ullam perferendis fugiat voluptates nesciunt fuga nihil? Quas, quos eos fugiat reprehenderit suscipit aut
    exercitationem quaerat dignissimos iste veritatis, cupiditate blanditiis iusto accusantium quidem reiciendis iure
    nulla, neque laudantium aliquam assumenda deleniti nobis numquam. Nihil rem accusantium quae nemo!
  </div>

  <br>
  <p>Ahora vamos a jugar con el evento de un input. Cuando escribamos en el input vamos a actualizar el nombre de
    personaMatias.</p>
  <input type="text" [value]="personMatias.getName()" (keyup)="changeName($event)">
  <p>El nombre de Matias ahora es {{personMatias.getName()}}</p>

  <p>Además del evento clic hay otros eventos como el change para detectar cambios en un
    campo de formulario, el evento scroll para detectar el desplazamiento horizontal/vertical del usuario en el
    navegador, onKeyUp o onKeyDown para detectar cuando el usuario aprieta o deja de apretar un botón de su teclado.</p>



  <!-- Clase 10 -->
  <h2>--> Data &lbrack;&lpar;<span>Binding</span>&rbrack;&rpar;</h2>

  <p>Es hora de ver el Data Binding!!<br>Esto se refiere a una fusión entre escuchar un evento (el Event Binding) y
    setear una propiedad. Es una fusión entre los dos, por eso es un "enlace de doble via". Ahora bien, en Angular
    tenemos algo especial para esto que es el <b>ngModel</b>. Este nos va a servir mucho para los inputs!!</p>

  <p>Vamos a utilizar nuestro primer paquete de la plataforma de Angular: <b>Angular Forms</b></p>

  <p>Este input revisa lo que ingresaste, marcándo como invalido si es null</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="cat.name">
  <p>Mi gata se llama {{cat.name}}<br>Valid: {{nameInput.valid}}</p>

  <!-- max, min y required son validaciones del ngModel -->
  <input type="number" max="30" min="0" required #ageInput="ngModel" [(ngModel)]="cat.age">
  <p>Valid: {{ageInput.valid}}</p>

  <p>
    Mas sobre Angular Forms:
    <a href="https://platzi.com/clases/2027-angular-forms/32605-por-que-aprender-angular-forms/" target="_blank">Curso
      de Angular Forms</a>
  </p>


  <!-- Clase 11 -->
  <h2>--> Uso de <span>*ngIf</span></h2>

  <p>Esta es una estructura de control, un condicional. Si la condición se cumple vamos a renderizar el elemento.</p>
  <p>Pueden haber varias condiciones como se muestra al escribir Taaby o Taaaby. También podemos crear un else con
    ng-template</p>
  <div style="height: 100px;">
    <input type="text" required [(ngModel)]="cat.name">
    <p *ngIf="cat.name === 'Taby'">Taby es hermooooooosa</p>
    <p *ngIf="cat.name === 'Taaaby' || cat.name === 'Taaby'; else myElseBlock">Taaaaaaaaaaaaaaaaaaaaaby</p>
    <ng-template #myElseBlock>
      <p>Bloque de else.</p>
    </ng-template>
  </div>


  <!-- Clase 12 -->
  <h2>--> Uso de <span>*ngFor</span></h2>
  <p>Otra de las estructuras de control muy importantes en Angular es ngFor que nos sirve para iterar un array de
    elementos</p>
  <p>
    En el siguiente ejercicio renderizamos una lista a partir de un array creado en el controlador. Además, escribiendo
    un nombre en el input y haciendo click en el boton "Add Name", podemos agregar un nuevo elemento a la lista.
  </p>
  <p>Tambien podemos eliminar un elemento haciendo click en el boton "Delete"</p>
  <p>Por ultimo, si la lista está vacía, nos aparecerá un elemento con la leyenda "No hay nombres"</p>

  <input type="text" required [(ngModel)]="newName">
  <button (click)="addName()" class="btn btn-dark">Add name</button>
  <ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor="let name of names; index as i">
      {{i}}. {{name}}
      <button (click)="deleteName(i)">Delete</button>
    </li>
  </ul>


  <!-- Clase 13 -->
  <h2>--> <span>*ngFor</span> para arrays de objetos</h2>
  <p>
    Vimos como hacer el render de un array de valores primitivos (strings) ¿Pero cómo lo haríamos con objetos? Es lo que
    vamos a ver a continuación!!
  </p>

  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap;">
    <div *ngFor="let product of products" style="margin: 20px;">
      <img [src]="product.image" alt="image" width="200" height="200" style="object-fit: cover; border-radius: 10px;">
      <p class="h5">{{product.price}}</p>
      <p>{{product.name}}</p>
    </div>
  </div>


  <!-- Clase 14 -->
  <h2>--> Uso de &lbrack;<span>ngSwitch</span>&rbrack; / *ngSwitchCase</h2>

  <p>
    En el caso que tengamos varios ngIf que estan atadas a una misma variable, podemos
    reemplazarla con un ngSwitch que es mas fácil de manipular.
  </p>

  <input type="text" required [(ngModel)]="cat.name">
  <div [ngSwitch]="cat.name">
    <p *ngSwitchCase="'Taby'">
      Taby es hermooooooosa
    </p>
    <p *ngSwitchCase="'Taaby'">
      Taaaaaaaaaaaaaaaaaaaaaby
    </p>
    <p *ngSwitchCase="'Taaaby'">
      Taaaaaaaaaaaaaaaaaaaaaby
    </p>
    <p *ngSwitchDefault>Se fue al default! D:</p>
  </div>


  <!-- Clase 15 -->
  <h2>--> Angular Dev Tools</h2>
  <p>
    En esta clase vimos la extensión Angular Dev Tools.
    Con esta aplicación, cada vez que estemos en un sitio que haya sido trabajado con
    Angular, el icono de la extensión se va a colorear de rojo. Esto significa que podemos
    inspeccionar la página y acceder a una nueva pestaña llamada "Angular", la cual nos
    permitirá ver mucha información importante relacionda a al funcionamiento de la página.
  </p>


  <!-- Clase 16 -->
  <h2>--> Estilos a la lista de productos</h2>
  <p>
    En este modulo vamos a trabajar en los estilos y la forma en que Angular los maneja.
    Lo primero que vamos a hacer es agregar la clase "products--grid" al div de productos.
  </p>

  <!-- style="display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap;" -->
  <div class="products--grid">
    <div *ngFor="let product of products">
      <img [src]="product.image" alt="image">
      <p class="h5">{{product.price}}</p>
      <p>{{product.name}}</p>
    </div>
  </div>
  <br>

  <!-- Clase 17 -->
  <h2>--> Dynamic Class & Style</h2>
  <p>
    En esta clase vamos a ver como agregar clases dinamicas a nuestros elementos.
    <br>
    Lo que queremos especificamente es que el parrafo "El campo es requerido" tenga un estilo dinamico
    de acuerdo al estado del input. En Angular podemos conseguir esto utilizando Property Binding,
    con la sentencia "[class.invalid]" (para activar la clase dependiendo de un condicional) igualándola
    a un condicional.
    <br>
    Dicho de otra forma, si se cumple el condicional "nameInput2.invalid" (el input es invalido), entonces
    se activa la clase "message-error".
    <br>
    También podemos asignar estilos en línea de forma dinamica. Para esto podemos agregale a un elemento:
  </p>
  <ul>
    <li>
      [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'
    </li>
  </ul>
  <p>
    Esto va a hacer que si el input es invalido, el estilo de la letra cambie a cursiva.
  </p>

  <aside style="border: 3px solid #bbb; border-radius: 10px;" class="container">
    <h1>Class & Style</h1>
    <input type="text" required #nameInput2="ngModel" [(ngModel)]="cat.name">

    <p class="message-error" [class.invalid]="nameInput2.invalid">
      El campo es requerido
    </p>

    <label class="mb-3" style="padding-right: 20px;">Nombre:</label>
    <input type="text" required #nameInput3="ngModel" [(ngModel)]="cat.name">
    <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo mollitia, reiciendis, possimus ullam quo tenetur sed
      sint ex minima porro ratione quibusdam maiores provident asperiores corrupti officiis consequuntur magnam
      molestias?
    </p>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: wrap;">
      <div style="margin: 20px;">
        <input type="text" [(ngModel)]="widthImg">
      </div>
      <div style="margin: 20px;">
        <img [style.width.px]="widthImg" [src]="personMatias.getAvatar()">
      </div>
    </div>

  </aside>
  <br>
  <p>
    Con esto podemos crear clases y estilos de forma dinamica pero hay una restricción que tiene el ngModel
    que tenemos que tener en cuenta <b>Primero tenemos que crear el #nameInput3 para poder utilizarlo</b>
    (como en programación estructurada).
  </p>

  <!-- Clase 18 -->
  <h2>--> NgClass y NgStyle</h2>

  <p>
    En el punto anterior vimos como asignar estilos dinamicos pero tener muchos de estos puede llegar a
    ser algo complejo. Para solucionar este inconveniente existe NgClass y NgStyle para adjuntar todo
    esto en uno solo.
  </p>

  <h3>NgClass</h3>

  <input type="text" required #nameInput4="ngModel" [(ngModel)]="cat.name">

  <!-- Este <hr> puede llegar a ser problematico si sigue sumando estilos dinamicos
  <hr class="line-error"
  [class.valid]="nameInput4.valid"
  [class.invalid]="nameInput4.invalid">
   -->

  <!-- Usando ngClass podemos enviar un objeto y, en este, enviar las clases que queremos que se activen -->
  <!-- Lo mejor es que podemos tener todo un objeto de las clases en el template que venga de una base de
    datos o de una configuración del usuario, etc. -->
  <hr class="line-error" [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }">
  <p class="message-error" [class.invalid]="nameInput4.invalid">
    Este campo es requerido
  </p>

  <h3>NgStyle</h3>

  <div style="display: flex; justify-content: center; align-items: center; flex-direction: row; flex-wrap: wrap;">
    <div style="margin: 20px;">
      <input type="number" [(ngModel)]="box.width">
      <input type="number" [(ngModel)]="box.height">
      <input type="color" [(ngModel)]="box.background">
    </div>
    <div style="margin: 20px;">
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'border-radius.px': 10
      }"></div>
    </div>
  </div>


  <!-- Clase 19 -->
  <h2>--> Creando un formulario</h2>
  <p>Vamos a crear un formulario de registro para una tienda virtual</p>

  <aside style="border: 3px solid #bbb; border-radius: 10px;" class="container">

    <form (ngSubmit)="onRegister()" #myForm="ngForm">
      <div class="input-group">
        <label for="name">Nombre</label>
        <input type="text" required name="name" id="name" [(ngModel)]="register.name">
        <p>Mensajes de error</p>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" required name="email" id="email" [(ngModel)]="register.email">
        <p>Mensajes de error</p>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" required name="password" id="password" [(ngModel)]="register.password">
        <p>Mensajes de error</p>
      </div>
      <button class="btn btn-dark" [disabled]="myForm.invalid" type="submit">Registrar</button>
    </form>

  </aside>

  <p>{{mathTest(2, 2)}}</p>

</div>
